@font-face {
    font-family: "chalkFont";
    src: url("fonts/PPETRIAL.ttf") format("truetype");
}

html { 
	height: 100%;
	margin: 0; 
	padding: 0;
}
      
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	background-color: #74AFAD;
}

/* make padding part of overall width */
div {
  -webkit-box-sizing: border-box; 	/* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box; 		/* Firefox 1+ */
  box-sizing: border-box; 			/* Chrome, IE 8+, Opera, Safari 5.1 */
}

#username {
  font-family: Georgia;
  font-size: 24px;
  margin-bottom: 20px;	
  padding: 10px 20px 10px 20px;
  border: solid #558C89 1px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  width: 46%;

}
#contentWrapper {
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.fullScreenPage {
	display: block;
	position: absolute;
	top: 0px;
	overflow: scroll;
	height: 100%;
	width: 100%;
}

.headerPage {
	display: block;
	position: relative; /* so starts below header */
	overflow: scroll;
	height: 100%;		/* will need to be corrected dynamically by javascript */
	width: 100%;
}


#header{
	height: 45px;
	width: 100%;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 18pt;
	line-height: 20pt;
	text-align: center;
	background-color: #74AFAD;
	font-weight: bold;
	position: relative;
}

#home {
	text-align:center;
	background-color: #74AFAD;
}

#waitPage {
	text-align: center;
	padding: 10%;
	color: #FFFFFF;
	font-size: 1.5em;
	
}

#startFormDiv {
	padding-top: 10%;
	text-align: center;
	color: #FFFFFF;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14pt;
}

#mainContainer {
	position: relative;
}
#mapPage {
	position: relative;
	top:0;
	left: 0;
}

.gameTutorial {
	width:95%;
	height: 90%; 
	overflow: scroll;
    position:absolute;
    left:2.5%;
    top:2.5%;
    margin: auto;
	z-index: 10;
	background:url("chalkboard.jpg");
	opacity:0.85;
	filter:alpha(opacity=85);
	border-radius:20px;
	font-size: 14pt;
	font-weight: bold;
	color: #FFFFFF;
	font-family: 'chalkFont', sans-serif;
	padding: 10px;
}

#map-canvas { 
	height: 100%;
	padding: 0%;
	margin: 0%;
}

#updateTimer{
	color: #ECECEA;
	font-size: 14pt;
	line-height: 20pt;
	text-align: center;
	position:fixed;
    right:5%;
    bottom: 10%; 
	width:53px;
	height:27px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #558C89;
	background:rgba(217,133,59,0.9);
	-webkit-box-shadow: #ECECEA 3px 3px 3px;
	-moz-box-shadow: #ECECEA 3px 3px 3px; 
	box-shadow: #ECECEA 3px 3px 3px;
}

#infoDiv {
	position:fixed;
    top: 37px; 
	left: 0px;
}

#divTimer { 
	color: #74AFAD;
	margin: auto;
	width: 40%;
	position: absolute;
	top: 5px;
	left: 30%;
	font-size: 2em;
	text-align: center;
}

#divScore{ 
	color: #D9853B;
	margin: auto;
	width: 60%;
	position: absolute;
    top: 17px; 
	right: 5%;
	font-size: 14pt;
	text-align: center;
}

.btn {

  font-family: Georgia;
  color: #ECECEA;
  font-size: 24px;
  background: #D9853B;
  padding: 10px 20px 10px 20px;
  border: solid #558C89 1px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  width: 60%;
}

.btn:hover {
  background: #BEA013;
  text-decoration: none;
}

.btn2 {

  font-family: Georgia;
  color: #ECECEA;
  font-size: 24px;
  background: #D9853B;
  padding: 10px 20px 10px 20px;
  border: solid #558C89 1px;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  width: auto;
  margin: 3%;
}

.btn2:hover {
  background: #BEA013;
  text-decoration: none;
}

.textbox { 

    border: none; 
    outline: none; 
    padding: 6px 6px; 
	width: 98%;
	font-size: 14pt;
} 

/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

.stextbox{ 

    border: none; 
    outline: none; 
    padding: 6px 6px; 
	width: 95%;
	font-size: 14pt;
}
.ntextbox{ 

    border: none; 
    outline: none; 
    padding: 6px 6px; 
	width: 63%;
	font-size: 14pt;
}

.col1 {
	text-align:left; 
}

.col2 {
	text-align:right;
}

.row {
	height:50px;
}


#divTimer2{
	color: #ECECEA;
	font-size: 18pt;
	line-height: 24pt;
	text-align: center;
	width:50%;
	height:15%;
	margin: auto;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	border:1px solid #558C89;
	background:rgba(217,133,59,0.9);
	-webkit-box-shadow: #ECECEA 3px 3px 3px;
	-moz-box-shadow: #ECECEA 3px 3px 3px; 
	box-shadow: #ECECEA 3px 3px 3px;
}